.container {
    padding: 10px;
    padding-top: 0;
    width: 50vw;
    border-left: 1px solid white;
    max-height: 50vh;
    overflow-y: auto;

    button {
        background-color: inherit;
        padding: inherit;

        &:hover {
            color: #ADEFD1FF;
            border-bottom: 1px solid #ADEFD1FF;
        }
    
        &:focus {
            outline: none;
        }
    }
}

.add-button {
    position: fixed;
    left: calc(100% - 90px);
    top: 30px;
    font-size: 30px;
}

.item {
    width: 100%;

    &.mouseHoveredOverRemove {
        .text {
            background-color: #ADEFD1FF;
            color: #00203FFF;
        }
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.remove {
    margin-left: 10px;
    font-size: 20px;
    height: 25px;
}

.new-item {
    width: 95%;
}

.spinner, .loading-error {
    margin-left: 10px;
}

.loading-error {
    color: red;
}

.spinner {
    animation:spin 4s linear infinite;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }