.container {
  width: 26vw;
  position: relative;
  transition: width 0.5s ease;

  *:not(.foldButton) {
    transition: opacity 0.5s ease;
  }

  &.folded {
    width: 0;

    .foldButton {
      transform: rotateY(180deg);
      position: fixed;
      top: 30px;
      left: calc(100% - 60px);
    }

    & > *:not(.foldButton) {
      opacity: 0;
      pointer-events: none;
    }
  }

  .foldButton {
    position: absolute;
    left: -60px;
    top: 0;
    font-size: 40px;

    &:hover {
      cursor: pointer;
      color: #ADEFD1FF;
      border-bottom: 1px solid #ADEFD1FF;
    }
  }
}

.search-bar {
  width: calc(100% - 20px);
  margin-bottom: 15px;
}

.list {
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid white;
  padding-left: 15px;
  padding-right: 5px;

  .item {
    width: 100%;
    padding: 20px;

    &:not(:last-child) {
      margin-bottom: 1px;
    }

    &.selected {
      background-color: #ADEFD1FF;
      color: #00203FFF;
      font-weight: bold;
    }

    &:hover:not(.selected) {
      background-color: #ADEFD1FF;
      color: #00203FFF;
      cursor: pointer;
    }
  }
}