.search-bar {
  width: calc(100% - 20px);
  margin-bottom: 15px;
}

.list {
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-left: 1px solid white;
  padding-left: 15px;

  .item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    a {
      &:visited, &:hover, &:active {
        color: inherit;
      }
    }
    &.selected {
      background-color: #ADEFD1FF;
      color: #00203FFF;
      font-weight: bold;
    }
  }
}