html {
  height: 100%;
  background: black;
  color: #BFBFBF;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  margin: 0px;
  height: -webkit-fill-available;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  &:hover {
    cursor: pointer;
  }
}

input[type=text], textarea {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 1.2em;
}

#target {
  height: -webkit-fill-available;
}

*::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
*::-webkit-scrollbar-track {
  background: #00203FFF;        /* color of the tracking area */
}
*::-webkit-scrollbar-thumb {
  background-color: #ADEFD1FF;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
}