.container {
  & > div {
    margin-top: 10px;
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  span {
    font-weight: bold;
  }
}

.buttons {
  button {
    &:hover {
      color: #ADEFD1FF;
      border-bottom: 1px solid #ADEFD1FF;
    }

    &:focus {
      outline: none;
    }

    margin-right: 10px;
    background-color: inherit;
    padding: inherit;
    font-size: 30px;
    height: 30px;
  }
}