.container {
  & > div {
    margin-top: 10px;
  }
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
  span {
    font-weight: bold;
  }
}

.buttons {
  & > button:not(:last-child) {
    margin-right: 10px;
  }
}